	*{
		font-family:arial, sans-serif;
		font-weight:bold;
	}
	html, body{
		height:100%;
		padding:0;
		margin:0;
		font-size:0.85em;
	}
	#container{
		width:98%;
		height:96%;
		margin:auto;
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		background-color:#D4D0C8;
		border:2px outset #D4D0C8;
		padding:0.5%;

	}
	#toolbar{
		border:1px solid;
		border-color:#fff transparent #808080 transparent;
		height:5%;
		clear:both;
	}
	.panel{
		float:left;
		width:49.2%;
		border:2px inset #dddddd;
		height:90%;
		margin:0.1%;
		overflow:auto;
		background-color:#C0C0C0;
	}
	.panel > .current_dir{
		height:1.3em;
		background-color:#808080;
		color:#D4D0C8;
		outline:1px outset #dddddd;
	}
	.panel > .current_dir_active {
		height:1.3em;
		background-color:#0A246A;
		color:#ffffff;
		outline:1px outset #dddddd;
	}
	.panel > .current_dir_nonactive{
		height:1.3em;
		background-color:#808080;
		color:#D4D0C8;
		outline:1px outset #dddddd;
	}
	.panel > .list{
		width:100%;
		border-spacing:0;
	}
	.panel > * {
		cursor:pointer;
	}
	.list  td{
		border:1px solid transparent;
	}
	.list-header tr:first-child{
		background-color:#D4D0C8;
		height:1.5em;
		outline:1px outset #dddddd;
	}
	.cursor {
		
	}
	.cursor > td{
		border-bottom:1px dotted #3F3F3F;
		border-top:1px dotted #3F3F3F;
	}
	.cursor > td:first-child{
		border-left:1px dotted #3F3F3F;
	}
	.cursor > td:last-child{
		border-right:1px dotted #3F3F3F;
	}
	#bottom_panel{
		border:1px solid;
		border-color:#ffffff transparent transparent transparent;
		height:4%;
		clear:both;
	}
	thead , tbody{
		
	}
	.filename{
		text-indent:17px;
		background-position:center left;
		background-repeat:no-repeat;
	}